.o-input {
  height: 41px;
  padding: 0.71429rem;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #b7cad6;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 30%;
  min-width: 300px;

  &.-hidden {
    visibility: hidden;
  }
}

.o-label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.71429;
}

.o-inputgroup {
  box-sizing: border-box;
  &.-hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
  }
}
